@inject IOptions<AppSettings> AppSettings
@inject IHostingEnvironment environment
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title - @AppSettings.Options.SiteTitle</title>

        <link rel="stylesheet" href="~/css/site.css" />

        <environment names="@EnvironmentName.Development">
            <link rel="stylesheet" href="~/css/font-awesome.css" />
        </environment>
        <environment names="@EnvironmentName.Staging,@EnvironmentName.Production">
            <link rel="stylesheet" href="@ContentDeliveryNetwork.MaxCdn.FontAwesomeUrl"
                  asp-fallback-href="~/css/font-awesome.css"
                  asp-fallback-test-class="fa" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        </environment>

            @*<link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.4/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
                  asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
                  asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />*@
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">@AppSettings.Options.SiteTitle</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        @if (environment.IsEnvironment(EnvironmentName.Development))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown"><span aria-hidden="true" class="fa fa-cogs"></span> Debug <span aria-hidden="true" class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    @*<li><a href="/@ConfigurationManager.AppSettings["elmah.mvc.route"]"><span aria-hidden="true" class="fa fa-life-ring"></span> Elmah</a></li>*@
                                    @*<li><a href="/glimpse.axd"><span aria-hidden="true" class="fa fa-line-chart"></span> Glimpse</a></li>*@
                                    <li><a href="/runtimeinfo"><span aria-hidden="true" class="fa fa-info"></span> Runtime Information</a></li>
                                    <li><a href="/throw"><span aria-hidden="true" class="fa fa-exclamation"></span> Throw 500 Internal Server Error</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2015 - @AppSettings.Options.SiteTitle</p>
            </footer>
        </div>

        <environment names="@EnvironmentName.Development">
            <script src="~/js/jquery.js"></script>
            <script src="~/js/jquery-validate.js"></script>
            <script src="~/js/jquery-validate-unobtrusive.js"></script>
            <script src="~/js/bootstrap.js"></script>
            <script src="~/js/hammer.js"></script>
            <script src="~/js/bootstrap-touch-carousel.js"></script>
        </environment>
        <environment names="@EnvironmentName.Staging,@EnvironmentName.Production">
            <script src="@ContentDeliveryNetwork.Google.JQueryUrl"
                    asp-fallback-src="~/js/jquery.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="@ContentDeliveryNetwork.Microsoft.JQueryValidateUrl"
                    asp-fallback-src="~/js/jquery-validate.js"
                    asp-fallback-test="window.validator">
            </script>
            <script src="@ContentDeliveryNetwork.Microsoft.JQueryValidateUnobtrusiveUrl"
                    asp-fallback-src="~/js/jquery-validate-unobtrusive.js"
                    asp-fallback-test="window.validator.unobtrusive">
            </script>
            <script src="@ContentDeliveryNetwork.Microsoft.BootstrapUrl"
                    asp-fallback-src="~/js/bootstrap.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="@ContentDeliveryNetwork.Microsoft.HammerUrl"
                    asp-fallback-src="~/js/hammer.js"
                    asp-fallback-test="window.Hammer">
            </script>
            <script src="@ContentDeliveryNetwork.Microsoft.BootstrapTouchCarouselJsUrl"
                    asp-fallback-src="~/js/bootstrap-touch-carousel.js"
                    asp-fallback-test="window.Zepto">
            </script>
        </environment>
        @RenderSection("scripts", required: false)
    </body>
</html>
